.selected {
  color: red;
}

.select-menu {
  border-width: 1px;
  max-height: 21rem;
  overflow-y: auto;
}

.clear-button {
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #7B7B7B;
  cursor:pointer;
  width: 0;
}

.live_search__input {
  border: none;
  font-size: var(--multi-input-input-font-size, 14px);
  outline: none;
  padding: 10px 10px 10px 5px; 
}
